
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;

}
nav{
    grid-area: nav;
    background-color: #e0e0e0;
    padding: 20px;
    top: 10px;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    text-decoration: none;
}
main{
    grid-area: main;
    text-align: center;
    display: flex;
}
.sectionMain{
    padding: 20px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sectionProduct{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    gap: 20px;
    justify-content: center;
}
.sectionBrinquedos{
    gap: 20px;
    text-align: center;
}

.sectionOn{
    padding: 30px;
    margin-top: 30px;
}

.flexItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-align: justify;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

header{
    grid-area: header;
    background-color: aqua;
    color: white;
    padding: 20px;
    text-align: center;
}
img{
    max-width: 50%;
}
button{
    background-color: green;
    color: white;
    outline: oldlace;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;

}
.formContact{
    display: flex;
}
.formContact textarea{
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;

}
.footer{
grid-area: footer;
background-color: aqua;
color: white;
text-align: center;
font-weight: bold;

}
